<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>The Happiness Trinity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0D23FF525C51E9400488BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D2400B25C51E9600488BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D2401625C51E9600488BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
